<%- include('header') %>
<h2>Bank Name: <%=bank_name%></h2>
<h2>Branch Name: <%=branch_name%></h2>
<h2>State:<%=state%></h2>
<h2>City:<%=city%></h2>
<h2>Address:<%=address%></h2>
<h2>District:<%=district%></h2>
<form action="/" method="GET">
<button>Exit</button>
</form>
<%- include('footer') %>